<%= provide(:title, @user.name)%>
<h1><%= @user.name + "'s Profile" %></h1>
<div class='container'>
    <div>
        <h2><%= @user.name %>'s events:</h2>
        <ul class='event_list'>
            <% if @events.any? %>
                <%= render @events %>
            <% end %>
        </ul>
    </div>
    <div>
        <h2><%= @user.name %> is attending:</h2>
        <ul class='event_list'>
            <% if @attended_events.any? %>
                <%= render @attended_events%>
            <% end %>
        </ul>
    </div>
</div>
