<%= provide(:title, @event.location)%>
<h1><%= @event.location %></h1>
<span><%= @event.date.strftime("%A, %B %d, %Y at %r") %></span>
<div class='event_info'>
    <span>created by: <%= link_to @event.creator.name, @event.creator%></span>
</div>
<div class='event_info' id='description'>
    <span>Event Details:</span>
    <span><%= @event.description%></span>
</div>    
<div class='center'>
    <% if current_user == @event.creator%>
        <%= link_to 'Invite your friends!', invite_path(id: @event.id)%></br>
    <% end%>
    <span><%= pluralize(@going.count, 'attendee')%>:</span></br>
    <% if @going.any? %>
        <ol class='attendees'>
            <% @going.each do |attendee| %>
                <li><%= link_to attendee.name, attendee %></li>
            <% end %>
        </ol>
    <% end %>
    <span><%= pluralize(@not_going.count, 'skipper')%>:</span>
    <% if @not_going.any? %>
        <ol class='attendees'>
            <% @not_going.each do |attendee| %>
                <li><%= link_to attendee.name, attendee %></li>
            <% end %>
        </ol>
    <% end %>
</div>