<h1><%= @event.location %></h1>
<span><%= @event.date.strftime("%A, %B %d, %Y at %r") %></span>
<div class='event_info'>
    <span>created by: <%= link_to @event.creator.name, @event.creator%></span>
</div>
<div class='event_info' id='description'>
    <span>Event Details:</span>
    <span><%= @event.description%></span>
</div>    
<div class='center'>
    <% if current_user == @event.creator%>
        <%= link_to 'Invite your friends!', invite_path(id: @event.id)%></br>
    <% end%>
    <span><%= pluralize(@event.attendees.count, 'attendee')%>:</span>
    <% if @event.attendees.any? %>
        <ol class='attendees'>
            <% @event.attendees.each do |attendee| %>
                <li><%= link_to attendee.name, attendee %></li>
            <% end %>
        </ol>
    <% end %>
</div>
<div class='container container-fluid'>
    <%= form_for @rsvp do |f|%>
        <div class="form-check form-check-inline col-md-4 offset-md-2">
            <%= f.radio_button :accepted, true, class: 'form-check-input'%>
            <%= f.label :accepted, 'Going', class: 'form-check-label'%>
        </div>
        <div class="form-check form-check-inline col-md-4">
            <%= f.radio_button :accepted, false, class: 'form-check-input'%>
            <%= f.label :accepted, "Can't Make It", class: 'form-check-label'%>
        </div></br></br>
        
        <%= f.submit :Respond, class: 'col-md-4 btn btn-dark'%>
    <% end %>
</div>